body {
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

.ust {
    border: 5px solid black;
    height: 60px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 7%;
}

.ust input {
    width: 100%;
}

.header {
    margin-left: 37%;
}

.header h4 {
    margin-bottom: 0%;
    margin-top: 0%;
}

.header input {
    width: 34%;
}

ul {
    background-color: aqua;
    float: left;
    margin-left: 12rem;
    margin-top: 1rem;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
}

a {
    color: darkblue;
}
